<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Blog{% endblock %}</title>

    <link href="{{ asset('build/app.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

</head>

<body>

{% include 'navbar.html.twig' %}

<!-- Main Content -->
<div class="container">
    <div class="row">

        <div class="right_col" role="main">

            {% for msg in app.session.flashBag.get('success') %}

                <div class="alert alert-success">
                    {{ msg }}
                </div>

            {% endfor %}

            {% for msg in app.session.flashBag.get('info') %}

                <div class="alert alert-info">
                    {{ msg }}
                </div>

            {% endfor %}

            {% for msg in app.session.flashBag.get('warning') %}

                <div class="alert alert-warning">
                    {{ msg }}
                </div>

            {% endfor %}

            {% for msg in app.session.flashBag.get('error') %}

                <div class="alert alert-error">
                    {{ msg }}
                </div>

            {% endfor %}
        </div>

        {% block body %}{% endblock %}
    </div>
</div>

<script src="{{ asset('build/app.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>

</html>
