{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}

    <a href="{{ path('post.create') }}" class="btn btn-success">
        Create
    </a>

    <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
            <thead>
            <tr class="headings">
                <th class="column-title">
                    Category
                </th>
                <th class="column-title">
                    Name
                </th>
                <th class="column-title">
                    Content
                </th>
                <th class="column-title">
                    File
                </th>
                <th class="column-title no-link last">
                    <span class="nobr">
                        Actions
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>

            {% for post in posts %}

                <tr class="pointer">
                    <td>
                        {{ post.category.name }}
                    </td>
                    <td>
                        {{ post.name }}
                    </td>
                    <td>
                        {{ post.content }}
                    </td>
                    <td>
                        {% if post.file %}
                            <image src="{{ asset('uploads/images/' ~ post.file) }}" class="img-thumbnail" width="200px" height="200px" />
                        {% endif %}
                    </td>
                    <td class="last">
                        <a href="{{ path('post.show', {'id': post.id}) }}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="{{ path('post.edit', {'id': post.id}) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="{{ path('post.delete', {'id': post.id}) }}"
                           class="delete-item"
                           data-confirm="Are you sure want to delete this post?"
                        >
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}